@page
@model LLPA_Website.Pages.RegisterModel


@{
    <br />
    ViewData["Title"] = "Create Account";
}

<h3>@ViewData["Title"]</h3>
<hr />
<div class="row">
    <div class="col-md-4">
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="user.Username" class="control-label"></label>
                <input asp-for="user.Username" class="form-control" />
                <span asp-validation-for="user.Username" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="user.Email" class="control-label"></label>
                <input asp-for="user.Email" class="form-control" />
                <span asp-validation-for="user.Email" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="user.Address" class="control-label"></label>
                <input asp-for="user.Address" class="form-control" />
                <span asp-validation-for="user.Address" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="user.Password" class="control-label"></label>
                <input asp-for="user.Password" class="form-control" />
                <span asp-validation-for="user.Password" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="user.MobileNo" class="control-label"></label>
                <input asp-for="user.MobileNo" class="form-control" />
                <span asp-validation-for="user.MobileNo" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="user.DateOfBirth" class="control-label"></label>
                <input asp-for="user.DateOfBirth" class="form-control" />
                <span asp-validation-for="user.DateOfBirth" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="SignUp" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>
<hr />
<div>
    <a class="btn btn-sm btn-dark" asp-page="Login">Back to Login</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}

