
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Pizza Order</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" />

    <!-- DataTables -->
    <link rel="stylesheet" href="~/lib/datatables-bs4/css/dataTables.bootstrap4.min.css" />
    <link rel="stylesheet" href="~/lib/datatables-responsive/css/responsive.bootstrap4.min.css" />
    <link rel="stylesheet" href="~/lib/datatables-buttons/css/buttons.bootstrap4.min.css" />

    <link href="~/lib/jsgrid/jsgrid.css" rel="stylesheet" />
    <link href="~/lib/jsgrid/jsgrid-theme.css" rel="stylesheet" />

    <link href="~/lib/toastr/build/toastr.min.css" rel="stylesheet" />

    <link href="~/lib/sweetalert2/sweetalert2.min.css" rel="stylesheet" />
</head>
<body>
    @if (User.Identity.IsAuthenticated)
    {
        <header>
            <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-dark bg-primary border-bottom box-shadow mb-3">
                <div class="container">
                    <a class="navbar-brand" asp-area="" asp-page="/Index">Pizza Order</a>
                    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                            aria-expanded="false" aria-label="Toggle navigation">
                        <span class="navbar-toggler-icon"></span>
                    </button>
                    <div class="navbar-collapse collapse d-sm-inline-flex justify-content-between">
                        <ul class="navbar-nav flex-grow-1">
                            @if (User.Identity.IsAuthenticated)
                            {
                                if (User.IsInRole("Admin"))
                                {
                                    <li class="nav-item">
                                        <a class="nav-link" asp-area="" asp-page="/Users/Index">Users</a>
                                    </li>
                                }
                                if (User.IsInRole("Client"))
                                {
                                    <li class="nav-item">
                                        <a class="nav-link" asp-area="" asp-page="/CreateLend/Index">Take Lend</a>
                                    </li>
                                }
                                <li class="nav-item">
                                    <a class="nav-link" asp-area="" asp-page="/LendingApproval/Index">History</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" asp-area="" asp-page="/Receipts/Index">Receipts</a>
                                </li>
                            }
                        </ul>
                        <ul class="navbar-nav ml-auto">
                            @if (User.Identity.IsAuthenticated)
                            {
                                <li class="nav-item">
                                    <span class="nav-link text-white">Hello @User.Identity.Name! <img src="default-user.png" width="30px" height="30px"/> </span>
                                </li>
                                <li class="nav-item">
                                    <form asp-page="/Logout" method="post">
                                        <button class="btn btn-link text-white" id="logoutBtn" type="submit">Log off</button>
                                    </form>
                                </li>
                            }
                            else
                            {
                                <li class="nav-item">
                                    <a class="nav-link text-white" asp-area="" asp-page="/Login">Login</a>
                                </li>
                            }
                        </ul>
                    </div>
                </div>
            </nav>
        </header>
    }

    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <footer class="border-top footer text-muted">
        <div class="container">
            &copy; 2022 - Pizza Order PlatForm
        </div>
    </footer>

    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>

    <!-- DataTables -->
    <script src="~/lib/datatables/jquery.dataTables.js"></script>
    <script src="~/lib/datatables-bs4/js/dataTables.bootstrap4.js"></script>
    <script src="~/lib/datatables-buttons/js/dataTables.buttons.min.js"></script>
    <script src="~/lib/datatables-buttons/js/buttons.bootstrap4.min.js"></script>
    <script src="~/lib/datatables-buttons/js/buttons.html5.min.js"></script>
    <script src="~/lib/datatables-responsive/js/dataTables.responsive.js"></script>
    <script src="~/lib/jszip/jszip.min.js"></script>

    <script src="~/lib/jsgrid/jsgrid.js"></script>

    <script src="~/lib/toastr/toastr.js"></script>

    <script src="~/lib/sweetalert2/sweetalert2.min.js"></script>

    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
