@page
@model LLPA_Website.Pages.OutgoingGoods.DeleteModel

@{
    ViewData["Title"] = "Confirmation Approved Lend";
}

<h3>@ViewData["Title"]</h3>

<div>
    <h4>Lends</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            <h5>Successfully Approved And Email Sent To User</h5>
        </dt>
    </dl>
    <hr />
    <form method="post">
        <a class="btn btn-sm btn-dark" asp-page="Index">Back to List</a>
    </form>
</div>
